.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: 500;
  color: var(--white-color);
  backdrop-filter: blur(4px);
}

.breadcrumbItem {
  display: flex;
  align-items: center;
}

.link {
  font-size: 20px;
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.3s ease, text-shadow 0.3s ease;
  text-shadow: 0 0 2px var(--primary-color);

  &:hover {
    color: var(--accent-color);
    text-shadow: 0 0 6px var(--accent-color), 0 0 12px var(--glow-color);
  }
}

.link_active {
  color: var(--accent-color);
  text-shadow: 0 0 3px var(--accent-color);
  pointer-events: none;
}

.separator {
  margin: 0 10px;
  color: var(--glow-color);
  font-size: 25px;
  text-shadow: 0 0 6px var(--glow-color);
  user-select: none;
  transform: translateY(-1px);
}
